@font-face {
    font-family: Product Sans;
    src: url(Fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}
html , body{
    height: 100%;
    width: 100%;
    background: black;
}

body::-webkit-scrollbar {
    display: none;
  }

#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;
    z-index: 99;
}

nav a, i{
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

.cntr-nav{
    display: flex;
    gap: 3vw;
}

nav i{
    font-size: 1.5vw;
}

.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(150deg, rgb(58, 58, 57), rgb(22, 21, 20));
}

.one h1{
    font-size: 25vw;
    font-family: Product Sans B;
    color: #fff;
}

#fanta{
    position: absolute;
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#orange-cut{
    position: absolute;
    top: 10%;
    left: 32%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#orange{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf{
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
    position: absolute;
    width: 18%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf2{
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
    position: absolute;
    width: 12%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}

.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    border: 2px white;
}

.lft-two, .rght-two{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.lft-two svg{
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.rght-two h1{
    color: #fff;
    font-size: 5vw;
}

.rght-two p{
    font-size: 1vw;
    color: #fff;
    width: 80%;
}

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
}
.three a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
}


.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 25vw;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: #fff;

}

.card h1{
    margin-top: 40vh;
    font-size: 3vw;
}

.card button{
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: rgb(255, 149, 0);
    padding: 1vw 2vw;
    font-family: Product Sans B;
}

#cocacola{
    top: 20%;
    position: absolute;
    width: 60%;
    left: 60%;
    transform: translate(-70%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#pepsi{
    top: 15%;
    position: absolute;
    width: 85%;
    left: 70%;
    transform: translate(-70%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

.lemon{
    top:15%;
    position: absolute;
    left: 50%;
    width: 40vw;
    transform: translate(-70, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.ABOUTUS{
    background-color: black;
    border-style: double 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50%;
    width: 100%;
    border-radius: 50px;
}
.ABOUTUS a{
    font-size: 100px;
    cursor: pointer;
    font-family: Product Sans B;
    font-weight:900 ;
    text-decoration: none;
    color: white;
}
.copyright{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: rgb(146, 146, 146);
    font-family: Product Sans B;
}
.two1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    border: 2px white;
}

.lft-two1, .rght-two1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.lft-two svg{
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.rght-two1 h1{
    color: #fff;
    font-size: 5vw;
}

.rght-two1 p{
    font-size: 1vw;
    color: #fff;
    width: 80%;
}
.copyright1{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright1 p{
    color: rgb(146, 146, 146);
    font-family: Product Sans B;
}
.contact{
    width: 65vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
